body{
    background: url("skybackground.jpg");
    background-repeat: repeat-y repeat-x;
    background-size: cover;    
}

h1{
     color: rgb(50,205,50);
    font-size: 75px;
    font-weight: 300;
    text-decoration: underline;
}
h2{
    position: absolute;
    top: 197px;
    left: 290px;
}


#redLight{
    position: absolute;
    top: 20px;
    left: 175px;
   
}

#greenLight{
    position: absolute;
    top: 12px;
    right: 75px;   
}

#chubs{
    position: absolute;
    top: 380px;
    z-index: 2;     
}

#abe{
    position:absolute;
    top: 200px;
    z-index: 2;    
}

#gator{    
    position: absolute;
    top: 540px;
    z-index: 2; 
}

#finishLine1{
    position: absolute;
    transform: rotate(90deg);
    bottom: 380px;
    right: 20px; 
    z-index: 1; 
}

#finishLine2{
    position: absolute;
    transform: rotate(90deg);
    bottom: 130px;
    right: 20px; 
    z-index: 1; 
}

#happy{
    position: absolute;
    left: 350px;
    top: 250px;
    z-index: 3;
}

#form{
    border-top: solid;
    border-right: solid;
    border-left: solid;
    border-bottom: sienna
}


